body {
	background: rgb(26, 26, 29);
	background-image: url(rain4.svg);
}

header, body {
	font-family: 'Inter', sans-serif;
	color: #C3073F;
}

html, body {
  scroll-behavior: smooth;
}

@media screen and (max-width: 720px) {

	.hide-menu {
		/*visibility: hidden;*/
	}

	.logo {
	  display: block;
    max-width:  350px;
    position:  relative;
    margin-top:  -50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:  -180px;
    z-index: -20;
  }
  .logo2 {
      display: block;
    margin-left: auto;
    margin-right: auto;
      font-weight:  600;
      font-size:  1.5em;
      color:  #ffffff;
      /*max-width:  300px;*/
      max-width: 500px;
      margin-top:  120px;
      margin-bottom:  -70px;
      z-index: 220;
      text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
    }
    .logo3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
      font-weight:  400;
      font-size: 16px;
      color:  #c4c4c4;
      /*max-width:  300px;*/
      max-width: 500px;
      margin-top:  -10px;
      margin-bottom:  -20px;
      z-index: 220;
      text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
     visibility: hidden;
    }


  .hwrap, .hmove {
  	visibility: hidden;
  }


  .navRight {
    left: 0;
    right: 0;
    margin-left: 6px;
  }

}

@media screen and (min-width: 720px) {

	.logo {
    display: block;
      margin-left: auto;
      margin-right: auto;
      /*margin-left:  calc(50% - 70px);*/
      max-width:  150px;
    	/*margin-left: 120px;*/
	    margin-bottom:  -60px;
	    z-index: 20;

    }
    .logo2 {
      display: block;
    margin-left: auto;
    margin-right: auto;
      font-weight:  600;
      /*font-size:  1em;*/
      font-size: 2em;
      color:  #ffffff;
      /*max-width:  300px;*/
      max-width: 500px;
      margin-top:  40px;
      margin-bottom:  10px;
      z-index: 220;
      text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
    }
    .logo3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
      font-weight:  400;
      font-size: 16px;
      color:  #c4c4c4;
      /*max-width:  300px;*/
      max-width: 500px;
      margin-top:  -10px;
      margin-bottom:  -40px;
      z-index: 220;
      text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
    }


}

.centerLogo {
    text-align:  center;
  }

.wrapper-item-1 {
	margin-right: 100px;
	margin-top: -55px;
	float: right;
	font-size: 18px;
}

.copyright {
	background-color: rgba(33, 33, 36, 0.2);
	margin-top: 0x;
	font-size: 12px;
  font-weight: 400;
	color: #E4E4E4;
	position: relative;
	text-align: center;
	width: 100%;
}

.tempCenter {
  display: block;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width:  750px;
  height:  100%;

}

.fit-box {
  max-width:  100%;
  max-height:  100%;
}

.fit-box:hover{
  opacity: 0.6;
  transition: .5s;
}

/* filter elements */

.container {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 5px;
}

.filterDiv {
  /*float: left;*/
  color: #ffffff;
  /*line-height: 100px;*/
  text-align: center;
  /*margin: 0;*/
  display: none; /* Hidden by default */
  margin-bottom:  -5px;
  min-width:  120px;
  min-height:  120px;
}


/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 4px 10px;
  background-color: #2e2e2e;
  cursor: pointer;
	font-size:16px;
	font-weight:600;
	border-radius:1px;
	color: white;
	/*text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;*/
}

.btn:hover{
	background-color: #4E4E50;
}

/* Add a dark background to the active button */
.btn.active {
  background-color: #4E4E50;
  color: white;
} 

div.scrollmenu {
  position:  relative;
  z-index = 300;
  background-color: #000000;
  overflow: auto;
  white-space: nowrap;
  margin-top:  80px;
  margin-bottom: 20px;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px #FFFFFF;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FFFFFF;
  border-radius: 2px;
}

.logPos {
  margin-top:  50px;

}

.myBtn {
  display:  none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 1001;
  box-shadow: 0px 0px 0px 0px #E4E4E4;
  background-color:#000000;
  border-radius:6px;
  border:1px solid #000000;
  display:inline-block;
  cursor:pointer;
  font-size:36px;
  color: #FFFFFF;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
  font-weight:bold;
  text-decoration:none;
  padding: 6px;
}



.myBtn:hover {
	background:linear-gradient(to bottom, #4E4E50 5%, #4E4E50 100%);
	background-color: #4E4E50;
	color: #FFFFFF;
}

.sound-icons {
	width:  20px;
	margin-bottom:  -5px;
}

.mini-logo{
	width: 45px ;
	height:  30px;
	margin-bottom:  -10px;
}

/* (A) FIXED WRAPPER */
.hwrap {
  overflow: hidden; /* HIDE SCROLL BAR */
  background-color: transparent;
  margin-top:  0px;
  margin-bottom:  -15px;
  text-transform: uppercase;
}
 
/* (B) MOVING TICKER WRAPPER */
.hmove { display: flex; }

/* (C) ITEMS - INTO A LONG HORIZONTAL ROW */
.hitem {
  flex-shrink: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  color:  #eee;
  font-weight: 600;
}

/* (D) ANIMATION - MOVE ITEMS FROM RIGHT TO LEFT */
/* 4 ITEMS -400%, CHANGE THIS IF YOU ADD/REMOVE ITEMS */
@keyframes tickerh {
  0% { transform: translate3d(100%, 0, 0); }
  100% { transform: translate3d(-500%, 0, 0); }
}

.hmove { animation: tickerh linear 90s infinite; }
/*.hmove:hover { animation-play-state: paused; }*/

.navRight {
  text-align: center;
  background-color:  #f5f5f5;
  padding:  7px;
    position:  absolute;
    top: 7px;
    right:  7px;
    border-radius:12px;
}

.navLeft {
  text-align: center;
  background-color:  #f5f5f5;
  padding:  5px;
    position:  absolute;
    top: -4px;
    left:  7px;
    border-radius:12px;
    font-size: 1em;
    font-weight: 600;
    color:  #000000;
}


.navFoot {
	margin-top: 20px;
	text-align: center;
  background-color: #f5f5f5;
  /*width:  100%;*/
  padding:  6px;
  margin-left:  -20px;
  margin-right:  -8.2px;

}

.dotCenter {
	position: absolute;
  left: calc(50% - 120px);
}
.dotCenter2 {
  position: absolute;
  left: calc(50% - 135px);
}

.navMenu {
  z-index: 1000;
}

.menu-space {
	margin-left: 7px;
}

.navMenu a {
  color: #000000;
  text-decoration: none;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: #4d4d4d;
}

.navMenu .dot {
  width: 6px;
  height: 6px;
  background: #000000;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/*.navMenu a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(45px);
  transform: translateX(45px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(130px);
  transform: translateX(130px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(205px);
  transform: translateX(205px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(4):hover ~ .dot {
  -webkit-transform: translateX(256px);
  transform: translateX(256px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}*/



